Language: Cpp
BasedOnStyle: Google

AccessModifierOffset: -4
AlignConsecutiveDeclarations: true
DerivePointerAlignment: false
PointerAlignment: Left

ColumnLimit: 120

IndentWidth:	4

IncludeBlocks: Preserve