Language: Cpp

# BasedOnStyle: Google

AccessModifierOffset: -4
AlignAfterOpenBracket: Align 
AlignArrayOfStructures: Right
AlignConsecutiveDeclarations: true
AlignEscapedNewlines: Left
AlignOperands: true
AlwaysBreakTemplateDeclarations: true
BreakBeforeBinaryOperators: true
BreakConstructorInitializers: BeforeComma
BreakAfterAttributes: Always 
# DerivePointerAlignment: false
# PointerAlignment: Left

NamespaceIndentation: Inner

ColumnLimit: 100

IndentWidth:	4

IncludeBlocks: Preserve